<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    bootstrap="./tests/bootstrap.php"
    
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"

    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"

    colors="true"
    printerClass="PHPUnit_TextUI_ResultPrinter"
>
    <logging>
	<log type="coverage-html" target="./tests/reports/coverage-html" highlight="true" />
	<log type="coverage-text" target="./tests/reports/coverage-text.txt" />
	<log type="coverage-php" target="./tests/reports/coverage.serialized"/>
	<log type="testdox-html" target="./tests/reports/testdox.html"/>
	<log type="testdox-text" target="./tests/reports/testdox.txt"/>
	<log type="plain" target="./tests/reports/plain.txt"/>
    </logging>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>